.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}
.custom-day.focused {
  background-color: #e6e6e6;
}
.custom-day.range, .custom-day:hover {
  background-color: rgb(2, 117, 216);
  color: white;
}
.custom-day.faded {
  background-color: rgba(2, 117, 216, 0.5);
}

#botoesRelatorios{
  margin: 1px 10px 15px 20px;


}
#relatorioMargens{
  margin: 10px 10px 10px 10px;
}

.centralizar{
  text-align: center;
}
#divSensoresAmbiente{
  background-color: rgb(231, 245, 231);
}
#divSensoresSolo{
  background-color: rgb(255, 244, 224);
}
#divAtuador{
  background-color: rgb(227, 243, 253);

}

