/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

a {
  padding-left: 10px;
}
#centralizarTexto{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
#logo{
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  height: auto;
}
#iconesSVG{
  width: 20%;
  height: auto;

  margin-left: auto;
  margin-right: auto;

}
th{
  border: 1px solid black;
  margin-left: 50px;
  margin-right: 50px;
}
#divTabSensores{
  padding: 1%;
}
mwl-gauge {
  width: 150px;
  height: 150px;
  display: block;
  padding: 0px;
}
mwl-gauge > .gauge > .dial {
  stroke: rgb(255, 255, 255);
  stroke-width: 2;
  fill: rgba(0, 0, 0, 0.781);
}
mwl-gauge > .gauge > .value {
  stroke: rgb(0, 140, 255);
  stroke-width: 7;
  fill: rgba(0, 0, 0, 0);
}
mwl-gauge > .gauge > .value-text {
  fill: rgb(255, 255, 255);
  font-family: sans-serif;
  font-weight: bold;
  font-size: 2em;
}
